.productsHomePageContainer {
  padding: 0 20px;
  .productsHomePage {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    grid-template-rows: repeat(auto-fit, minmax(300px, auto));
    column-gap: 40px;
    row-gap: 20px;
    background-color: #fff;
    border-radius: 20px;
    .item {
      padding: 20px;
      .productImageCont {
        border-radius: 20px;
        overflow: hidden;
        img {
          width: 100%;
        }
      }
      .aboutProductContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        i {
          color: var(--icons-color);
        }
        .hotelLocition {
          font-size: 17px;
        }
      }
    }
  }
}
